Django==3.2.13
grove.py @ https://github.com/Seeed-Studio/grove.py/archive/master.zip
grovepi==1.4.1
netaddr==0.7.19
netifaces==0.11.0
numpy==1.16.2
pigpio==1.78
pycparser==2.21
pyserial==3.4
rpi-vl53l0x==0.0.3
RPi.GPIO==0.7.1
scipy==1.5.4
smbus==1.1.post2
smbus-cffi==0.5.1
smbus2==0.4.2
