Django==4.0.5
https://github.com/Seeed-Studio/grove.py/archive/master.zip
grovepi>=1.0.0
netaddr==0.8.0
netifaces==0.11.0
numpy==1.23.0
pigpio==1.78
pycparser==2.21
pyserial==3.5
rpi-vl53l0x==0.0.3
RPi.GPIO==0.7.1
scipy==1.8.1
smbus==1.1.post2
smbus-cffi==0.5.1
smbus2==0.4.2
